id: 'ddeb59f5-4491-4d43-8542-496309bf5072'
version: 'v2'
name: 'Test'
apptype: 'api'
language: 'java'
containerName: 'test'
toolchain:
  id: '591a283af62d42001ef994b3'
  name: 'Qubeship-Python-Toolchain'
opinion:
  id: '591a283b8d0cb2000bae9dd9'
  name: 'Qubeship default opinion'
endpoint:
  id: '591a283b2a0603000bebf584'
  name: 'Qubeship Sandbox Cluster'
  type: 'target'
variables:
- name: 'APP_VERSION'
  value: 'v0.1'
build:
  compile:
    publish:
    - target/
bake:
  skip: false
test:
  skip: true
deploy_to_qa:
  skip: true
deploy_to_prod:
  skip: false
